::-webkit-scrollbar {display: none}

body{
    font-family: 'Lato', sans-serif;
}

header img{
    width:268px;
    height:93px;
}
input{
    background-color:#E7E7E7;
    font-size: 18px;
    
}

.description{

font-family: 'Roboto', sans-serif;
}

button{
    background-color:#E7E7E7;
}
.bg_grey
{
    background-color: #E7E7E7;
    
}
.card-content{
    font-size: 12px;
    font-weight: 400;
    height: 110px;
}
.ingredients_nom{
    font-weight: 700;
}
.time{
    font-size: 18px;
}