::-webkit-scrollbar {display: none}

body{
    font-family: 'Lato', sans-serif;
}

header img{
    width:268px;
    height:93px;
}
input{
    background-color:#E7E7E7;
    font-size: 18px;
    outline: none;
    
}

.description{

font-family: 'Roboto', sans-serif;
max-height: 90px;
overflow: hidden;
text-overflow:ellipsis;
display:-webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
}

button{
    background-color:#E7E7E7;
}
.bg_grey
{
    background-color: #E7E7E7;
    
}
.card-content{
    font-size: 12px;
    font-weight: 400;
    max-height:90px;
    overflow: hidden;
   
}
.search[data-error]::after {
    content: attr(data-error);
    font-size: 23px;
    color: #e54858;
    display: block;
    margin-top: 7px;
    text-align: left;
    line-height: 0.8;
    opacity: 0;
    transition: 0.3s;
    font-weight: 700;
  }
  .search[data-error-visible="true"]::after {
    opacity: 1;
  }
  input:focus::placeholder {
    opacity: 0.5;
}


.ingredients_nom{
    font-weight: 700;
}
.time{
    font-size: 18px;
}
.recipes_card{
    display:flex;
    justify-content: center;
}
.recipes_card.nonvisible{
    display:none;
}
.rec_ingredients{
    padding-right: 0;
}
.iconSearch{
    content:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="32" height="32" viewBox="0 0 24 24"%3E%3Cpath fill="black" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.612 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3l-1.4 1.4ZM9.5 14q1.875 0 3.188-1.313T14 9.5q0-1.875-1.313-3.188T9.5 5Q7.625 5 6.312 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14Z"%2F%3E%3C%2Fsvg%3E')
}
#search-champs_ingredients{
    background-color:#3282F7 ;
    color:#FFFFFF;
    width:170px;
    height:69px;
    padding-left: 22px;
    outline: none;
    font-weight: 700;
}
#search-champs_appareils{
    background-color:#68D9A4 ;
    color:#FFFFFF;
    width:170px;
    height:69px;
    padding-left: 22px;
    outline: none;
    font-weight: 700;
}
#search-champs_ustensiles{
    background-color:#ED6454 ;
    color:#FFFFFF;
    width:170px;
    height:69px;
    padding-left: 22px;
    outline: none;
    font-weight: 700;
}
.arrowdown{
    position: absolute;
    top: 27px;
    right: 14px;
    visibility: visible;
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 24 24"%3E%3Cg transform="rotate(-90 12 12)"%3E%3Cpath fill="white" d="M16 22L6 12L16 2l1.775 1.775L9.55 12l8.225 8.225L16 22Z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
.arrowup{
    position: absolute;
    top: 27px;
    right: 14px;
    visibility: hidden;
    content:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 24 24"%3E%3Cg transform="rotate(90 12 12)"%3E%3Cpath fill="white" d="M16 22L6 12L16 2l1.775 1.775L9.55 12l8.225 8.225L16 22Z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
.search-ingredients,.search-appareils,.search-ustensiles{
    position: relative;
}

.ingredients-list.active,.appareils-list.active,.ustensiles-list.active{
  display:flex;
}
.ingredients-list{
    display: grid;
    position: absolute;
    height:394px; 
    overflow:auto;
    z-index: 99;
    width:667px;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3282F7;
    margin-left: 0px;
    margin-right: 0px;
    display:none;
   
}
.appareils-list{
    display: grid;
    position: absolute;
    z-index: 99;
    width:667px;
    grid-template-columns: 1fr 1fr 1fr;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #68D9A4;
    display:none;
}

.ustensiles-list{
    display: grid;
    position: absolute;
    height:394px; 
    overflow:auto;
    z-index: 99;
    width:667px;
    grid-template-columns: 1fr 1fr 1fr;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    background-color:#ED6454;
    display:none;
}
.search-champs input::placeholder{
    color:#FFFFFF;
    
    font-weight: 700;
}
.search-champs {
    flex-direction: row;
}
.list{
    color:#FFFFFF;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    margin-bottom: 0;
    height:38px;
    width:173px;
    display: flex;
    align-items: center;
}
.list.nonvisible{
    display:none

}
.div-tag{

    display: none;
}
.tag{
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;
    height:37px;
    color:#FFFFFF;
    display: flex;
    padding-left:1rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;

}
.button-close{
    margin: 0 8px;
}
.tag.ustensiles{
    background-color: #ED6454;
}
.tag.appareils{
    background-color: #68D9A4;
}
.tag.ingredients{
    background-color: #3282F7;
}
.button-close{
    cursor: pointer;
}