::-webkit-scrollbar {display: none}

body{
    font-family: 'Lato', sans-serif;
}

header img{
    width:268px;
    height:93px;
}
input{
    background-color:#E7E7E7;
    font-size: 18px;
    outline: none;
    
}

.description{

font-family: 'Roboto', sans-serif;
max-height: 90px;
overflow: hidden;
text-overflow:ellipsis;
display:-webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
}

button{
    background-color:#E7E7E7;
}
.bg_grey
{
    background-color: #E7E7E7;
    
}
.card-content{
    font-size: 12px;
    font-weight: 400;
    max-height:90px;
    overflow: hidden;
   
}
.search[data-error]::after {
    content: attr(data-error);
    font-size: 23px;
    color: #e54858;
    display: block;
    margin-top: 7px;
    text-align: left;
    line-height: 0.8;
    opacity: 0;
    transition: 0.3s;
    font-weight: 700;
  }
  .search[data-error-visible="true"]::after {
    opacity: 1;
  }
/*   .search[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
  } */
.ingredients_nom{
    font-weight: 700;
}
.time{
    font-size: 18px;
}
.recipes_card{
    display:flex;
    justify-content: center;
}
.recipes_card.nonvisible{
    display:none;
}
.rec_ingredients{
    padding-right: 0;
}
#search-champs_ingredients{
    background-color:#3282F7 ;
    color:#FFFFFF;
    width:170px;
    height:69px;
    padding-left: 22px;
    outline: none;
    font-weight: 700;
}
#search-champs_appareils{
    background-color:#68D9A4 ;
    color:#FFFFFF;
    width:170px;
    height:69px;
    padding-left: 22px;
    outline: none;
    font-weight: 700;
}
#search-champs_ustensiles{
    background-color:#ED6454 ;
    color:#FFFFFF;
    width:170px;
    height:69px;
    padding-left: 22px;
    outline: none;
    font-weight: 700;
}
.arrowdown{
    position: absolute;
    top: 22px;
    right: 14px;
    visibility: visible;
}

.arrowup{
    position: absolute;
    top: 27px;
    right: 14px;
    visibility: hidden;
}
.search-ingredients,.search-appareils,.search-ustensiles{
    position: relative;
}

.ingredients-list.active,.appareils-list.active,.ustensiles-list.active{
  display:flex;
}
.ingredients-list{
    cursor: pointer;
    background-color: #3282F7;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    display: none;
}
.appareils-list{
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #68D9A4;
    display: none;
}

.ustensiles-list{
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    background-color:#ED6454;
    display: none;
}
.search-champs input::placeholder{
    color:#FFFFFF;
    
    font-weight: 700;
}
.list{
    color:#FFFFFF;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    margin-bottom: 0;
    height:38px;
    width:173px;
    display: flex;
    align-items: center;
}
.list.nonvisible{
    display:none

}
.div-tag{

    display: none;
}
.tag{
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;
    height:37px;
    color:#FFFFFF;
    display: flex;
    padding-left:1rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;

}
.button-close{
    margin: 0 8px;
}
.tag.ustensiles{
    background-color: #ED6454;
}
.tag.appareils{
    background-color: #68D9A4;
}
.tag.ingredients{
    background-color: #3282F7;
}
.button-close{
    cursor: pointer;
}